<section class="section-background">
  <div class="login-container">
    <a href="#" class="login-header">
      <img class="logo" src="Logo2.png" alt="logo">
      AGROMAP
    </a>
    <div class="login-card">
      <h1 class="login-title">Iniciar Sesion</h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <label for="email" class="label">Correo electronico</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="nombre@gmail.com"
            class="form-field"
          />
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
            <small *ngIf="form.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</small>
            <small *ngIf="form.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</small>
          </div>
        </div>
        <div>
          <label for="contrasena" class="label">Contraseña</label>
          <input
            type="password"
            id="contrasena"
            formControlName="contrasena"
            placeholder="••••••••"
            class="form-field"
          />
          <div *ngIf="form.get('contrasena')?.invalid && (form.get('contrasena')?.touched || form.get('contrasena')?.dirty)">
            <small *ngIf="form.get('contrasena')?.errors?.['required']">La contraseña es obligatoria.</small>
          </div>
        </div>
        <button type="submit" class="submit-button">Iniciar sesion  ></button>
        <p class="link">
          ¿Olvidaste tu contraseña? 
          <a class="reset-link" routerLink="/auth/restablecer-contrasena">Recuperar contraseña</a>
        </p>
        <p class="link">
         ¿Aún no tienes una cuenta? 
          <a class="signup-link" routerLink="/auth/sign-up">Crear cuenta</a>
        </p>
      </form>
    </div>
  </div>
  <div class="footer-u-shape"></div>
</section>
