<nav class="bg-gradient-to-r  dark:bg-white antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
    <div class="flex items-center justify-between">

        <!-- Logo -->
    <div class="flex items-center space-x-10">
      <div class="flex items-center space-x-0">
        <div class="shrink-0">
          <a routerLink="/" title="">
            <img class="flex w-18 h-14 dark:block" src="logo.png" alt="Logo de Quotemind"> 
          </a>
        </div>
        
      </div>

        <!-- Menú principal (pantallas grandes) -->
        
        <ul class="inline-flex lg:flex items-center justify-start gap-6 md:gap-8 py-3 ">
          <li><a routerLink="/dashboard" class="text-sm font-medium border-b-2 text-gray-900 hover:text-primary-700 dark:text-green">Inicio</a></li>
          <li><a routerLink="/recomendaciones" class="text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-green">Recomendaciones</a></li>
          <li><a routerLink="/soporte" class="text-sm font-medium  text-gray-900 hover:text-primary-700 dark:text-green">Soporte</a></li>
        </ul>
      </div>

      <!-- Dropdown de usuario y menú colapsable (pantallas pequeñas) -->
      <div class="relative items-center lg:space-x-2">

        <!-- Botón de dropdown -->
        <button (click)="toggleDropdown()" class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-green-100 dark:hover:bg-green-700 text-sm font-medium text-gray-900 dark:text-green">
          <svg class="w-5 h-5 me-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
          Account
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-width="2" d="m19 9-7 7-7-7"/>
          </svg> 
        </button>

        <!-- Dropdown de usuario -->
        <div *ngIf="isDropdownOpen" class="absolute right-0 z-10 w-56  divide-y divide-green-100 bg-white dark:bg-green-700 rounded-lg shadow">
          <ul class="p-2 text-sm text-gray-900 dark:text-white">
            <li><a href="#" (click)="signOut()" class="block px-3 py-2 hover:bg-gray-100 dark:hover:bg-gray-600">Sign Out</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</nav>

  <section class="hero-section">
    <div class="overlay">
      <h1 class="hero-title">Toma el control de tu cultivo.<br> <span> con Agromap</span></h1>
      <button routerLink="/recomendaciones" class="hero-button">Ir a Recomendaciones ></button>
    </div>
  </section>

 <!-- Sección 1: ¿Por qué nosotros? -->
<section class="seccion">
  <div class="content-container">
    <div class="image-container">
      <img src="/img_dashboard/asin.png" alt="Agricultor recogiendo plátanos">
    </div>
    <div class="text-container">
      <h2>¿Por qué nosotros?</h2>
      <h3>¿Cómo ayudamos a tus cultivos?</h3>
      <p>
        Agromap es tu aliado en el campo. Con esta herramienta, <br>
        podrás tomar decisiones más acertadas para tus cultivos gracias <br>
        a información precisa sobre el clima, el suelo y la ubicación geográfica. <br>
        Optimiza el uso de recursos como agua y fertilizantes, <br>
        <strong>detecta problemas a tiempo y aumenta significativamente tus rendimientos.</strong>
      </p>
    </div>
  </div>
</section>

<!-- Sección 2 -->
<section class="features">
  <div class="card">
      <div class="feature-item">
          <img src="/img_dashboard/cultivos.svg" alt="Icono de cultivo" class="icono-svg">
          <p>Más de 1,000 cultivos han <br> mejorado con nosotros.</p>
      </div>
      <div class="feature-item">
          <img src="/img_dashboard/seguridad.svg" alt="Icono de seguridad" class="icono-svg">
          <p>Protegemos <br> tus datos.</p>
      </div>
      <div class="feature-item">
          <img src="/img_dashboard/datos reales.svg" alt="Icono de información" class="icono-svg">
          <p>Mostramos <br> información real.</p>
      </div>
  </div>
</section>

<!-- seccion 3 -->
<section class="seccion">
  <div class="content-container">
      <div class="image-container">
          <img src="/img_dashboard/Group 7.png" alt="Persona revisando cultivos">
      </div>
      <div class="text-container">
          <h2>¿Cómo funciona?</h2>
          <p>Agromap es una herramienta digital que te brinda 
              <strong>información detallada y personalizada sobre tus cultivos</strong>. 
              Al ingresar los datos de tu campo, como el tipo de suelo, el clima y la ubicación.
          </p>
          <br>
          <button routerLink="/recomendaciones" class="hero-button">Ir a Recomendaciones ></button>
      </div>
  </div>
</section>

<footer class="footer-u-shape">
  <svg viewBox="0 0 1440 320"  class="footer-svg">
      <path d="M0,160L120,181.3C240,203,480,245,720,245.3C960,245,1200,203,1320,181.3L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z" fill="#002702"></path>
  </svg>
  <p>&copy; Agromap. Todos los derechos reservados 2024.</p>
</footer>




