<section class="section-background">
    <div class="registration-container">
      <a href="#" class="registration-header">
        <img class="logo" src="Logo2.png" alt="logo">
        AGROMAP
      </a>
      <div class="registration-card">
        <h1 class="registration-title">Crea tu Cuenta</h1>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div>
            <label for="nombre" class="label">Tu Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-field" />
          </div>
          <div>
            <label for="email" class="label">Tu Correo</label>
            <input type="email" id="email" formControlName="email" placeholder="nombre@gmail.com" class="form-field" />
          </div>
          <div>
            <label for="contrasena" class="label">Contraseña</label>
            <input type="password" id="contrasena" formControlName="contrasena" placeholder="••••••••" class="form-field" />
          </div>
          <div>
            <label for="telefono" class="label">Tu Telefono</label>
            <input type="text" id="telefono" formControlName="telefono" class="form-field" />
          </div>
          <div>
            <label for="direccion" class="label">Tu Direccion</label>
            <input type="text" id="direccion" formControlName="direccion" class="form-field" />
          </div>
          <div>
            <label for="ciudad" class="label">Tu Ciudad</label>
            <input type="text" id="ciudad" formControlName="ciudad" class="form-field" />
          </div>
          <button type="submit" class="register-button">Registrarse</button>
          <p class="link">
            Ya tienes una cuenta? 
            <a class="signup-link" routerLink="/auth/log-in">Iniciar Sesion</a>
          </p>
        </form>
      </div>
    </div>
    <div class="footer-u-shape"></div>
  </section>