<section class="section-background">
    <div class="registration-container">
      <a href="#" class="registration-header">
        <img class="logo" src="Logo2.png" alt="logo">
        AGROMAP
      </a>
      <div class="registration-card">
        <h1 class="registration-title">Crea tu Cuenta</h1>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div>
            <label for="nombre" class="label">Tu Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-field" />
            <div *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.touched || form.get('nombre')?.dirty)">
              <small *ngIf="form.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
            </div>
          </div>
          <div>
            <label for="email" class="label">Tu Correo</label>
            <input type="email" id="email" formControlName="email" placeholder="nombre@gmail.com" class="form-field" />
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
              <small *ngIf="form.get('email')?.errors?.['required']">El correo es obligatorio.</small>
              <small *ngIf="form.get('email')?.errors?.['email']">El formato del correo no es válido.</small>
            </div>
          </div>
          <div>
            <label for="contrasena" class="label">Contraseña</label>
            <input type="password" id="contrasena" formControlName="contrasena" placeholder="••••••••" class="form-field" />
            <div *ngIf="form.get('contrasena')?.invalid && (form.get('contrasena')?.touched || form.get('contrasena')?.dirty)">
              <small *ngIf="form.get('contrasena')?.errors?.['required']">La contraseña es obligatoria.</small>
            </div>
          </div>
          <div>
            <label for="telefono" class="label">Tu Telefono</label>
            <input type="text" id="telefono" formControlName="telefono" class="form-field" />
          </div>
          <div>
            <label for="direccion" class="label">Tu Direccion</label>
            <input type="text" id="direccion" formControlName="direccion" class="form-field" />
            <div *ngIf="form.get('direccion')?.invalid && (form.get('direccion')?.touched || form.get('direccion')?.dirty)">
              <small *ngIf="form.get('direccion')?.errors?.['required']">La dirección es obligatoria.</small>
            </div>
          </div>
          <div>
            <label for="ciudad" class="label">Tu Municipio,Ciudad</label>
            <input type="text" id="ciudad" formControlName="ciudad" class="form-field" />
            <div *ngIf="form.get('ciudad')?.invalid && (form.get('ciudad')?.touched || form.get('ciudad')?.dirty)">
              <small *ngIf="form.get('ciudad')?.errors?.['required']">La ciudad es obligatoria.</small>
            </div>
          </div>
          <div>
            <label for="codigo_postal" class="label">Tu Codigo postal</label>
            <input type="text" id="codigo_postal" formControlName="codigo_postal" class="form-field" />
            <div *ngIf="form.get('codigo_postal')?.invalid && (form.get('codigo_postal')?.touched || form.get('codigo_postal')?.dirty)">
              <small *ngIf="form.get('codigo_postal')?.errors?.['pattern']">El código postal no es válido.</small>
            </div>
          </div>
          <button type="submit" class="register-button">Registrarse</button>
          <p class="link">
            Ya tienes una cuenta? 
            <a class="signup-link" routerLink="/auth/log-in">Iniciar Sesion</a>
          </p>
        </form>
      </div>
    </div>
    <div class="footer-u-shape"></div>
  </section>